<div class="entry" data-href="/view/entry?id={{post_id}}">
    <span class="description">{{description}}</span>
    <span class="entryType">{{type}}</span>
    <br>
    <span class="amount">{{currency amount}}</span>
    <span class="date">{{formatDate date}}</span>
</div>