<link rel="stylesheet" href="/css/editentrystyle.css">
<script src="/scripts/edit-user.js"></script>

<section>
    <div id="infoinput">
        <img src="/{{profile_picture}}" alt="User Image"><br>
        <!--
        <h2 id="name"> Name: {{full_name}} </h2><br>
        <text id="email"> Email: {{email}} </text><br>
        <text id="phone"> Phone: {{phone_number}} </text>
        -->
        <h2>Name:</h2>
        <input id="full_name" type="text" value="{{full_name}}" placeholder="Name"><br>
        <h2>Email:</h2>
        <input id="email" type="email" value="{{email}}" placeholder="Email"><br>
        <h2>Phone:</h2>
        <input id="phone_number" type="tel" value="{{phone_number}}" placeholder="Phone">
    </div>
   
    <div id="buttons">
        <button id="confirmbtn" value="{{user_id}}" type="button">Confirm</button>
        <button id="cancelbtn" onclick="history.back()">Cancel</button>
    </div>
</section>