<link rel="stylesheet" href="/css/viewentrystyle.css">

<section>
    <div id="infoinput">
        <img src="/{{profile_picture}}" alt="User Image">
        <h2 id="name"> Name: {{full_name}} </h2><br>
        <text id="email"> Email: {{email}} </text><br>
        <text id="phone"> Phone: {{phone_number}} </text>
    </div>
    <div id="buttons">
        {{!-- BUTTONS NOT WORKING --}}
        <!--
        <button id="editbtn" onclick="location.href='/edit/user?id={{post_id}}'">Edit</button>
        <button id="deletebtn" onclick="location.href='/delete/user?id={{post_id}}'">Delete</button>
        -->
    </div>
</section>