<link rel="stylesheet" href="/css/viewentrystyle.css">

<section>
    <div id="infoinput">
        <img src="/{{profile_picture}}" alt="User Image" class="profilePic">
        <h2 id="full_name"> Name: {{full_name}} </h2><br>
        <text id="email"> Email: {{email}} </text><br>
        <text id="phone_number"> Phone: {{phone_number}} </text>
    </div>
    <div id="buttons">
        
        <button id="editbtn" onclick="location.href='/edit/user?id={{user_id}}'">Edit</button>
        <button id="deletebtn" onclick="location.href='/delete/user?id={{user_id}}'">Delete</button>

    </div>
</section>